<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>QuickTest.DataView</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>doNavigateToEmployeeSummary</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>screenshotEmployeeSummaryDV</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>QuickTest.Logon</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>doLogon</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>screenshotHomePage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>QuickTest.Logoff</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>doLogoff</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>QuickTest.Timekeeping</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>timecardWorkSummary</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>removeSignOff</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>punchWithTransfer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>screenshotWorkSummary</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>currentPayPeriod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>timecardPunch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>punchWithComment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>screenshotTimecard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>saveTimecardEdit</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>timecardTotals</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>timecardAccruals</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>timecardAudit</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>paycodeEdit</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>screenshotHCorrections</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>screenshotTimecardEdit</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>signOff</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>timecardHCorrections</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>markAsReviewed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>screenshotTimecardAudit</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>doOpenTimecard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>screenshotTimecardAccruals</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
