<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>My Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="95e767">  <td>21/01/27 12:59:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Timekeeping.currentPayPeriod(java.lang.String, java.lang.String)[pri:205, instance:QuickTest.Timekeeping@521155b6]">currentPayPeriod</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
<tr bgcolor="a996a6">  <td>21/01/27 13:01:49</td>   <td>136014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Logoff.doLogoff(java.lang.String, java.lang.String)[pri:900, instance:QuickTest.Logoff@18c36f76]">doLogoff</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
<tr bgcolor="b7b3b6">  <td>21/01/27 12:58:53</td>   <td>-40534</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Logon.doLogon(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:QuickTest.Logon@48843100]">doLogon</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
<tr bgcolor="c0abe9">  <td>21/01/27 12:59:01</td>   <td>-32169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataView.doNavigateToEmployeeSummary(java.lang.String, java.lang.String)[pri:2, instance:QuickTest.DataView@6b1de7aa]">doNavigateToEmployeeSummary</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
<tr bgcolor="95e767">  <td>21/01/27 12:59:03</td>   <td>-30041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Timekeeping.doOpenTimecard(java.lang.String, java.lang.String)[pri:200, instance:QuickTest.Timekeeping@521155b6]">doOpenTimecard</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
<tr bgcolor="95e767">  <td>21/01/27 13:01:10</td>   <td>96736</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Timekeeping.markAsReviewed(java.lang.String, java.lang.String)[pri:255, instance:QuickTest.Timekeeping@521155b6]">markAsReviewed</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
<tr bgcolor="95e767">  <td>21/01/27 12:59:35</td>   <td>2220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Timekeeping.paycodeEdit(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:220, instance:QuickTest.Timekeeping@521155b6]">paycodeEdit</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
<tr bgcolor="95e767">  <td>21/01/27 13:00:39</td>   <td>65690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Timekeeping.punchWithComment(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:250, instance:QuickTest.Timekeeping@521155b6]">punchWithComment</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
<tr bgcolor="95e767">  <td>21/01/27 13:01:42</td>   <td>128901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Timekeeping.removeSignOff(java.lang.String)[pri:261, instance:QuickTest.Timekeeping@521155b6]">removeSignOff</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
<tr bgcolor="95e767">  <td>21/01/27 13:00:07</td>   <td>34258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Timekeeping.saveTimecardEdit()[pri:230, instance:QuickTest.Timekeeping@521155b6]">saveTimecardEdit</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
<tr bgcolor="c0abe9">  <td>21/01/27 12:58:58</td>   <td>-35242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataView.screenshotEmployeeSummaryDV()[pri:0, instance:QuickTest.DataView@6b1de7aa]">screenshotEmployeeSummaryDV</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
<tr bgcolor="b7b3b6">  <td>21/01/27 12:59:00</td>   <td>-33475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Logon.screenshotHomePage()[pri:1, instance:QuickTest.Logon@48843100]">screenshotHomePage</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
<tr bgcolor="95e767">  <td>21/01/27 13:00:38</td>   <td>64285</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Timekeeping.screenshotTimecardEdit()[pri:231, instance:QuickTest.Timekeeping@521155b6]">screenshotTimecardEdit</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
<tr bgcolor="95e767">  <td>21/01/27 13:01:41</td>   <td>127769</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Timekeeping.signOff(java.lang.String)[pri:260, instance:QuickTest.Timekeeping@521155b6]">signOff</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
<tr bgcolor="95e767">  <td>21/01/27 12:59:35</td>   <td>2219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Timekeeping.timecardPunch(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:210, instance:QuickTest.Timekeeping@521155b6]">timecardPunch</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
</table>
