<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e1a665">  <td>21/02/26 11:32:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Timekeeping.currentPayPeriod(java.lang.String, java.lang.String, java.lang.String)[pri:6, instance:QuickTest.Timekeeping@3ce8776f]">currentPayPeriod</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
<tr bgcolor="8a9af9">  <td>21/02/26 11:32:17</td>   <td>14496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Logoff.doLogoff(java.lang.String, java.lang.String)[pri:900, instance:QuickTest.Logoff@cae6734]">doLogoff</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
<tr bgcolor="6c8299">  <td>21/02/26 11:31:44</td>   <td>-18415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Logon.doLogon(java.lang.String)[pri:0, instance:QuickTest.Logon@771da9ae]">doLogon</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
<tr bgcolor="8c8893">  <td>21/02/26 11:31:55</td>   <td>-7984</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataView.doNavigateToEmployeeSummary(java.lang.String, java.lang.String)[pri:2, instance:QuickTest.DataView@53e637b5]">doNavigateToEmployeeSummary</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
<tr bgcolor="e1a665">  <td>21/02/26 11:31:59</td>   <td>-4032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Timekeeping.doOpenTimecard(java.lang.String, java.lang.String)[pri:4, instance:QuickTest.Timekeeping@3ce8776f]">doOpenTimecard</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
<tr bgcolor="e1a665">  <td>21/02/26 11:32:13</td>   <td>10081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Timekeeping.punchWithTransfer(java.lang.String, java.lang.String)[pri:8, instance:QuickTest.Timekeeping@3ce8776f]">punchWithTransfer</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
<tr bgcolor="8c8893">  <td>21/02/26 11:31:57</td>   <td>-5403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataView.screenshotEmployeeSummaryDV()[pri:3, instance:QuickTest.DataView@53e637b5]">screenshotEmployeeSummaryDV</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
<tr bgcolor="6c8299">  <td>21/02/26 11:31:53</td>   <td>-10027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Logon.screenshotHomePage()[pri:1, instance:QuickTest.Logon@771da9ae]">screenshotHomePage</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
<tr bgcolor="e1a665">  <td>21/02/26 11:32:02</td>   <td>-1346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Timekeeping.screenshotTimecard()[pri:5, instance:QuickTest.Timekeeping@3ce8776f]">screenshotTimecard</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
<tr bgcolor="e1a665">  <td>21/02/26 11:32:05</td>   <td>2216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Timekeeping.timecardPunch(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:7, instance:QuickTest.Timekeeping@3ce8776f]">timecardPunch</td> 
  <td>AWT-EventQueue-0@1101288798</td>   <td></td> </tr>
</table>
